@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-container {
        max-width: 400px;
        background-color: #ffffff;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }


</style>
<section class="d-flex con justify-content-center align-items-center vh-100" >
<div class="form-container" >
        <h3 class="fw-bold mb-4 text-center">Reset Password</h3>
        <form id="frmResetPassword">
            <p>Enter your email address below and we'll send you a link to reset your password.</p>
            <input type="hidden" id="token" value="@ViewBag.token" />
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="New Password" id="password" required>
            </div>
            
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" required>
            </div>
            <div class"mb-3">
                <p id="error" style="color:red"></p>
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#frmResetPassword').submit(function (event) {
            event.preventDefault();
            debugger;
            var password = $('#password').val();
            var token = $('#token').val();
            var confirmPassword = $('#confirmPassword').val();
            if(password.length<6){
                $('#error').text('Passwords must be 6 characters long');
                return;
            }
            if (password !== confirmPassword) {
                $('#error').text('Passwords do not match');
                return;
            }
            var formData = {
                token: token, 
                password: password
            };

            $.ajax({
                url: '/api/Users/reset-password', 
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    
                    $('#frmResetPassword').addClass('d-none');
                    $('.form-container').html('<h3 class="fw-bold mb-4 text-center">Password reset successfully!</h3>');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    var errorMessage = JSON.parse(xhr.responseText).message;
                    $('#error').text(errorMessage);
                }
            });

        });
    });
</script>